/*DESKTOP*/
@import url('https://fonts.googleapis.com/css2? family= Be+Vietnam+Pro:ital, display=swap');

/*ENCABEZADO/HEADER*/
.encabezado {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 174px;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
}

.imgJugador {
    border: 5px;
    display: block;
    height: 461;
    padding: 15px;
    width: 540px;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    padding: 10px;
    width: 590px;
}

.mano {
    align-items: flex-end;
    color: black;
    display: block;
    height: 45px;
    position: absolute;
    z-index: 1; 
    width: 45px;
}

.listmenu a {
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 700px;
    height: 20px;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

a:hover {
    color: rgb(133, 38, 112);
}

i .fa-regular {
    display: block;
    position: absolute
}

.boton, .botonHeader {
    background-color: #8b48bf;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    height: 44px;
    padding: 10px;
    width: 134px;  
}
.icono {display: none;}
/*Principal */
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-around;
    width: 100%;
}

/* Primera seccion*/
.imagenTitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 460px;
    width: 85%;
    padding: 15px;
    border: 15px;
}

.textoInicio {
    width: 450px;
    height: 399px;
    text-align: right;
}

h1 {
    height: 228px;
    font-weight: 700px;
    font-size: 50px;
    line-height: 57px;
}

p {
    font-weight: 500px;
    font-size: 18px;
    line-height: 26px;
}

/* Seccion Background morado*/

.seccionMorada {
    background-color: #8b48bf;
    color: white;
    display: flex;
    height: 168px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.pregunta {
    height: 88px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 42px;
}

.lorem {
    width: 450px;
    height: 88px;
    font-size: 20px;
    line-height: 24px;
}

/* Seccion de Articulos*/
.seccionArticle {
    background-color:#FAFAFA;
    ;
    border: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.divArticle {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.contenedor1y2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1133px;
}

.article {
    display: flex;
    flex-direction: column;
    height: 162px;
    width: 553px;
}

.pRelleno {
    width: 400;
    text-align: justify;
    align-items: flex-end;
}

.numero {
    width: 70px;
    height: 43px;
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #8b48bf;
    color: white;
}

.tituloh3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -1.5%;
}



.deportistas {
    background-color: #FAFAFA;
    border: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.loMejor {
    font-size: 39px;
    font-weight: 700;
    height: 61px;
    line-height: 61px;
    letter-spacing: -0.01em;
    text-align: center;
}

.btnMore {
    display: flex;
    height: 80px;
    justify-content: center;
    width: auto;
}

.contDeportista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.deporte, .deporteD {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 445px;
}

.botonBlanco {
    border-radius: 50px;
    color: #8b48bf;
    font-size: 20px;
    height: 44px;
    padding: 10px;
    width: 134px;
}

.team {
    height: 88px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 42px;
    width: 392px;
}

button {
    transition: 0.7s;
}

button:hover {
    transform: scale(1.5);
}

.img {
    transition: transform 0.5;
}

.img:hover {
    transform: scale(1.3);
}

/*footer*/

footer {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 247px;
    justify-content: space-around;
    width: auto;
}

.logo {
    height: 25px;
    width: 110px;
}

.navFooter {
    display: flex;
    flex-direction: row;
    height: 141px;
    justify-content: space-between;
    width: 362px;
}

.listMenu a {
    color: white;
    line-height: 23px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-decoration: none;
    text-align: left;
    width: 100px;
}

.buscador {
    align-items: flex-end;
    flex-direction: row;
    gap: 10px;
    height: 70px;
}

.search {
    height: 44px;
    border: 10px;
    border-radius: 50px;
    padding: 10px;
    width: 308px;
}

.imagenes {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    padding: 10px;
    border: 10px;
}

.textFooter {
    align-self: flex-end;
    color: white;
    font-size: 17px;
    font-weight: 700px;
    left: 1450px;
    line-height: 19px;
    position: absolute;
    opacity: 0.5;
    padding: 5px;
}

/*Media Cueries para movil*/

@media(max-width : 500px) {
    .encabezado {
        height: 174px;
        justify-content: space-around;
        width: 490px;
    }

    .botonHeader,.menu {
        display: none;
    }

    .icono {
        align-items: flex-end;
        display: block;
    }

    .imagenTitulo {
        border: 13px;
        flex-direction: column;
        height: 840px;
        padding: 1rem;
        width: 450px;
    }

    .imgJugador {
        height: 341px;
        width: 400px;
    }

    .seccionMorada {
        align-items: center;
        background-color: #3CDDF3;
        border: 30px;
        flex-direction: column;
        height: 306px;
        justify-content: space-around;
    }
    .team{
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: -0.003em;
    text-align: center;
        width: 324px;
    }

    .seccionArticle {
        align-items: center;
        justify-content: space-between;
        width: 460px;
    }

    .contenedor1y2 {
        align-items: flex-start;
        flex-direction: column;
        width: 450px;
    }

    .article {
        flex-direction: column;
        height: auto;
        width: 450px;
    }

    .divArticle {
        background: #8B48BF4D;
        height: 43px;
    }

    .contDeportista {
        flex-direction: column;
        justify-content: center;
    }

    .deporteD {
        display: none;
    }

    footer {
        flex-direction: column-reverse;
        height: 534px;
    }

    .imagenes {
        align-items: center;
        flex-direction: column-reverse;
        height: 120px;
        width: 445px;
    }

    .redes {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 450px;
    }

    .textFooter {
        display: block;
        left: 130px;
        position: absolute;
        top: 3250px;
    }
}